{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- This example requires Tailwind CSS v2.0+ -->
    <!--
      This example requires updating your template:

      ```
      <html class="h-full bg-white">
      <body class="h-full overflow-hidden">
      ```
    -->
    <div x-data="{ mobileMenuOpen: false }" class="min-h-screen h-full flex">

       {% include 'components/sidebar/offcanvas-mobile-menu.html' %}

        <!-- Static sidebar for desktop -->
        <div class="hidden lg:flex lg:flex-shrink-0">
            <div class="flex flex-col w-64">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-gray-100">
                    <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                        <div class="flex items-center flex-shrink-0 px-4">
                            <img class="h-8 w-auto"
                                 src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-900-text.svg"
                                 alt="Workflow">
                        </div>
                        <nav class="mt-5 flex-1 px-3 divide-y divide-gray-300" aria-label="Sidebar">
                            {% include 'components/sidebar/main-choices-section.html' %}
                            {% include 'components/sidebar/expandable-catalog-section.html' %}

                        </nav>
                    </div>
                    {% include 'components/sidebar/profile-footer.html' %}
                </div>
            </div>
        </div>
        <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
            <div class="lg:hidden">
                <div class="flex items-center justify-between bg-gray-50 border-b border-gray-200 px-4 py-1.5">
                    <div>
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                             alt="Workflow">
                    </div>
                    <!-- Mobile menu button -->
                    <div>
                        {% include 'components/buttons/offcanvas-mobile-menu-toggle.html' %}
                    </div>
                </div>
            </div>
            <div class="flex-1 relative z-0 flex overflow-hidden">
                <!-- TableView-->
                <main class=" flex-1 relative z-0 overflow-hidden ">
                    <!-- Start main area-->
                    <div class="absolute inset-0 ">

                        <div class="h-full">
                            {% include 'components/input/search-hotkey.html' %}
                            {% include 'components/stacked-list.html' %}
                        </div>

                    </div>
                    <!-- End main area -->
                </main>
                <!-- Desktop Preview-->
                <aside class="hidden relative lg:flex lg:flex-col flex-shrink-0 w-2/3 border-r border-gray-200 overflow-y-auto">
                    <!-- Start secondary column (hidden on smaller screens) -->
                    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">

                        <div class="h-full border-2 border-gray-200 border-dashed rounded-lg">
                            <p>View</p>
                        </div>
                    </div>
                    <!-- End secondary column -->
                </aside>
            </div>
        </div>
    </div>


{% endblock %}


